extends includes/layout
include mixins/userBlock

block content
    .conversation.narrowContainer
        .conversation__messageContainer
            each message in messages
                if `${message.from._id}` === `${user._id}`
                    .message(class="me")
                        p=message.message
                        .createdAt=message.createdAt
                else 
                    .message
                        +userBlock(message.from)
                        p=message.message
                        .createdAt=message.createdAt
            #jsScrollPoint
        form(action=`/message/create` method="post")
            .commentInput
                +avatarBlock(user.avatarUrl, "50px")
                input(type="text" name="to" value=otherUserId readOnly hidden )
                textarea(name="message" placeholder="쪽지 플레이스홀더")
                button.secondary#commentBtn 보내기
    
    script(src="/static/js/convertDate.js") 
    script(src="/static/js/scroll.js") 