extends includes/layout

block content 
    
    .container 
        .galleryDetail 
            .galleryDetail__section 
                h1=gallery.title
                h1 조회수: #{gallery.views}
            each photoObj in gallery.photos 
                .galleryDetail__section 
                    img(src=`/${photoObj.photo}`)
                    p=photoObj.caption
                
            .galleryDetail__section 
                p=gallery.description
            if `${gallery.creator._id}` === `${user._id}`
                a(href=`/gallery/${gallery._id}/update`).btn 수정
                #deleteBtn.btn 글삭제

    script(src="/static/js/galleryRemove.js") 

                        