extends includes/layout
include mixins/categoryBlock

block content
    .viewMoreContainer
        .viewMore
            .viewMore__top.viewMore__column
                .viewMore__item
                .viewMore__item
                .viewMore__item#xBtn 취소
            .viewMore__middle.viewMore__column
                .viewMore__item 
                    i.fa-solid.fa-chevron-left#prevSlideBtn
                .viewMore__item
                    .slideContainer
                        each photo in gym.photos
                            img(src=`/${photo}`, alt="체육관 사진", class="gymImg")
                .viewMore__item 
                    i.fa-solid.fa-chevron-right#nextSlideBtn
            .viewMore__bottom.viewMore__column
                .viewMore__item 
                .viewMore__item#slideNumber 
                .viewMore__item 
    .container
        .gymDetail
            .gymDetail__section
                +categoryBlock({
                    views:gym.views,
                    likes:gym.like_users.length,
                    comments:comments.length
                })
            h1.gymDetail__section #{gym.name}
            .gymDetail__section.btnContainer
                if gym.oneday === "가능"
                    .gymDetail__btn.yes 일일권 가능
                        if gym.onedayPay === "모름"
                            span (가격: #{gym.onedayPay})
                        else 
                            span (가격: #{gym.onedayPay}원)
                            
                else if gym.oneday === "불가능"
                    .gymDetail__btn.no 일일권 불가능
                else if gym.oneday === "모름"
                    .gymDetail__btn 일일권 여부 모름
                if gym.yearRound === "네"
                    .gymDetail__btn.yes 연중무휴
                else if gym.yearRound === "아니오"
                    .gymDetail__btn.no 연중무휴 아님
                else if gym.oneday === "모름"
                    .gymDetail__btn 연중무휴 여부 모름
            
            .gymDetail__imgLayout.gymDetail__section.gymDetail__bigSection
                - let i = 0;
                while i < 4
                    if i === 0 || i === 1
                        .imgContainer 
                            img(src=`/${gym.photos[i]}`,)
                    if i === 2
                        .imgContainer 
                            img(src=`/${gym.photos[i]}`,)
                            img(src=`/${gym.photos[i+1]}`,)
                            #viewMore.btn + 사진 더보기
                    if i === 3
                        span
                            
                    - ++i
            .gymDetail__bigSection
                h2 체육관 소개
                h3.gymDetail__section " #{gym.title} "
                p.gymDetail__section=gym.description
            .gymDetail__section.gymDetail__bigSection
                #kakaoMap
                    #jsAddress #{gym.address}
                
            //- if `${user._id}`=== `${gym.creator._id}`
            //-     .updateAndDeleteBtn
            //-         a(href=`/gym/${gym._id}/update`)
            //-             div.btn.primary 수정
            //-         #deleteBtn.btn.secondary 삭제
            .gymDetail__section.gymDetail__bigSection
                .commentsWrapper
                    h4 댓글 #{comments.length}
                    each comment in comments
                        .comment
                            +userBlock({
                                _id:comment.creator._id,
                                nickname:comment.creator.nickname,
                                avatarUrl:comment.creator.avatarUrl
                            }, "40px")
                            p=comment.text

                            if `${comment.creator._id}`=== `${user._id}`
                                button.commentDeleteBtn(id=comment._id) 삭제
                .commentInput
                    +avatarBlock(user.avatarUrl, "70px")
                    textarea(name="text")
                    #commentBtn.primary 댓글달기
                    
    .modalContainer
        .modal
            .modal__title 검색
                    

    script(src="/static/js/viewMore.js") 
    script(src="/static/js/kakaomap.js") 
    script(src="/static/js/useConfirm.js") 
    script(src="/static/js/comment.js") 