extends includes/layout

block content 
    .modalContainer 
        .modal
            .modal__top.modalColumnWrapper
                .modal__item 
                .modal__item 
                .modal__item#xBtn 취소
            .modal__middle.modalColumnWrapper
                .modal__item 
                    i.fa-solid.fa-chevron-left#prevSlide
                .modal__item.slideContainer 
                    each photo in gym.photos 
                        img(src=`/${photo}`, alt="" class="gymImg")
                .modal__item 
                    i.fa-solid.fa-chevron-right#nextSlide
            .modal__bottom.modalColumnWrapper
                .modal__item 
                .modal__item 1 / 5
                .modal__item 
    .container
        .gymDetail
            h1=gym.name
            h1=gym.creator._id
            - let i = 0;
            .gymDetail__imgLayout 
                while i < 4
                    if i === 0 || i === 1
                        .imgContainer
                            img(src=`/${gym.photos[i]}`,)
                    if i === 2
                        .imgContainer 
                            img(src=`/${gym.photos[i]}`,)
                            img(src=`/${gym.photos[i+1]}`,)
                            #viewMore + 사진 더보기
                                span 
                    if i === 3
                        span
                    - ++i
            h1=gym.desc
            if `${gym.creator._id}` === `${user._id}` 
                a(href=`/gym/${gym._id}/update`) 수정
            #deleteBtn 삭제
        script(src="/static/js/viewMore.js")
        script(src="/static/js/useConfirm.js") 
            
        


    