extends includes/layout
include mixins/userBlock
include mixins/avatarBlock
include mixins/categoryBlock

block content
    .container.detailPage
        .detailPage__item
            .section.head
                div=post.category
                +categoryBlock({
                    views:post.views,
                    likes:post.like_users.length,
                    comments:comments.length
                })
            h2.section=post.title
            .section
                +userBlock(post.creator, "40px")
            p.desc.section=post.description
            .centerLikeBtn
                if post.like_users.includes(String(user._id))
                    i.likeBtn.fa-solid.fa-thumbs-up.like.fa-2xl(id=`${post._id}`)
                    div 추천
                else
                    i.likeBtn.fa-regular.fa-thumbs-up.fa-2xl(id=`${post._id}`)
                    div 추천
                    
           

            .commentsWrapper
                h4 댓글 #{comments.length}
                each comment in comments
                    .comment
                        +userBlock(comment.creator, "40px")
                        p=comment.text

                        if `${comment.creator._id}`=== `${user._id}`
                            button.commentDeleteBtn(id=comment._id) 삭제
            .commentInput
                +avatarBlock(user.avatarUrl, "70px")
                textarea(name="text")
                #commentBtn.primary 댓글달기
        .detailPage__item
            .head 이 달의 인기게시글
            each populatePost, index in populatePosts
                a(href=`/post/${populatePost._id}`)
                    p 
                        span.index #{index + 1}
                        span.title #{populatePost.title}
                    
    if `${user._id}` === `${post.creator._id}`
        .updateAndDeleteBtn
            a(href=`/post/${post._id}/update`)
                button 수정하기
            button#deleteBtn 삭제하기
        

    script(src="/static/js/comment.js")
    script(src="/static/js/likeFun.js")