extends includes/layout

block content 
    form(action=`/post/${post._id}/update` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="text", name="title" placeholder="제목" value=post.title)
        textarea(name="description")=post.description
        select(name="category")
            - let i = 0;
            - const arr = ["자유","질문","공유","리뷰","Flex"]
            while i < arr.length 
                option(value=arr[i] selected=(arr[i] ===post.category ? true : undefined))=arr[i]
                - i++;
        input(type="submit" value="업데이트")
