extends includes/layout

block content 
    form(action=`/post/${post._id}/update` method="post" enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="file", name="file" multiple)
        input(type="text", name="title" placeholder="제목" value=post.title)
        input(type="text" name="category" placeholder="카테고리" value=post.category)
        textarea(name="description")=post.description
        input(type="submit" value="업데이트")

    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js")
    script(src="/static/js/useRichText.js")