
extends includes/layout
include mixins/gymCardBlock
include mixins/galleryCardBlock

block content
    .container 
        if `${findUser._id}` === `${user._id}`
            h1 내 정보 

        +avatarBlock(findUser.avatarUrl, true)

        if `${findUser._id}` === `${user._id}`
            a(href=`/user/update`) 유저정보수정 

        if `${findUser._id}` !== `${user._id}`
            form(action=`/message/create` method="post")
                input(type="text" name="to" value=`${findUser._id}` readOnly)
                input(type="text" name="message")
                button 쪽지보내기


        h1=findUser.nickname
        h1 체육관에 쓴글
        each gym in gyms 
            a(href=`/gym/${gym._id}`) 
                h1=gym.title
        h1 갤러리에 쓴글
        each gallery in galleries 
            a(href=`/gallery/${gallery._id}`) 
                h1=gallery.title 
        h1 포스트에 쓴글
        each post in posts 
            a(href=`/post/${post._id}`) 
                h1=post.title
        


    

