include userBlock

mixin postCardBlock(post)
    .post
        .post__item 
            div=post.category
        a(href=`/post/${post._id}`).post__item
            h1=post.title
            if post.comments.length > 0
                .emojiText
                    i.fa-regular.fa-comment
                    h1=post.comments.length
        .post__item
            if post.like_users.length > 0
                .emojiText
                    i.fa-regular.fa-thumbs-up
                    h1=post.like_users.length
        .post__item
            +userBlock(post.creator)
        .post__item 
            .createdAt=post.createdAt