include userBlock

mixin postCardBlock(post={})
    .post
        .post__item 
            div=post.category
        .post__item
            a(href=`/post/${post._id}`)
                h1=post.title
                if post.commentLength > 0
                    .emojiText
                        i.fa-regular.fa-comment
                        h1=post.commentLength
        .post__item
            if post.likeLength > 0
                .emojiText
                    i.fa-regular.fa-thumbs-up
                    h1=post.likeLength
        .post__item 
            +userBlock({
                _id:post.creator._id,
                avatarUrl:post.creator.avatarUrl,
                nickname:post.creator.nickname
            })
        .post__item 
            .postCreatedAt=post.createdAt